**/data/exporter/*.csv
out/csv/post_processed_2020-05-14T15:11:29+00:00.csv.gzip
out/csv/post_processed_2020-05-20T15:44:58+00:00.csv.gzip
out/csv/post_processed_2020-05-21T14:11:51+00:00.csv.gzip
styles/.ipynb_checkpoints/*
