**/data/exporter/*.csv
out/csv/post_processed_2020-05-14T15:11:29+00:00.csv.gzip
out/csv/post_processed_2020-05-20T15:44:58+00:00.csv.gzip
out/csv/post_processed_2020-05-21T14:11:51+00:00.csv.gzip
styles/.ipynb_checkpoints/*
out/csv/post_processed_2020-05-26T19:18:25+00:00.csv.gzip
utils/.ipynb_checkpoints/*
.vscode/*
utils/__pycache__/*
.ipynb_checkpoints/CHANGELOG-checkpoint.md
out/csv/post_processed_2020-05-28T17:06:19+00:00.csv.gzip
data/exporter/*
