.wrapper {
  display: grid;
  grid-template-columns: 20% 30% 19% 29%;
  column-gap: 10px;
  row-gap: 10px;
}
.wrapper > div {
  color: white;
  background-color: #1b1b2f;
  padding: 1em 2em 2em 2em;
}
.wrapper > .plain {
  background-color: white;
  padding: 0;
}
.wrapper > .blue {
  background-color: #162447;
}
.wrapper > div > h1,
.wrapper > div > h2,
.wrapper .boldit {
  color: #e43f5a;
  font-weight: bold;
}
.calculation {
  display: grid;
  grid-template-columns: 10% 22% auto;
  grid-template-rows: 20% 20% 3px auto;
  row-gap: 2px;
  align-content: end;
}
p {
  line-height: 1.3em;
}
.top-const {
  grid-column: 2 / span 2;
}
.operator {
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: end;
  justify-self: center;
  font-size: x-large;
  color: cornsilk;
}
.const {
  color: #f8f3eb;
  line-height: 1.1em;
  font-weight: bold;
  font-size: 1rem;
}
.bottom-const {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  align-self: center;
  line-height:0.7em;
}
.line {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: cornsilk;
}
.equal {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 2 / span 2;
  color: #e43f5a;
}
.red {
  color: #e43f5a;
}
.bold {
  font-weight: bold;
  font-size: 1.4rem;
}
.smaller {
  font-size: 0.7rem;
}
h1 {
  color: #162447;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}
.box2 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
}
.box2 img {
  vertical-align: bottom;
}
.light,
h3.light,
h4.light {
  font-weight: lighter;
  color: white;
}
:not(.jp-RenderedMarkdown).jp-RenderedHTMLCommon td {
  text-align: left;
}
.jp-OutputArea-output pre {
  word-break: normal;
}
table.identifiers {
  width: 60%;
}
table.identifiers tbody tr td {
  font-size: 1.2em;
}
td.yes {
  border: 2px solid #74d4c0;
}
